.pageFooter {
	.socialLinks {
		.socialLinkItem {
			padding: 0rem 0.5rem;
			color: $primaryColor;
		}
	}
}

@include screen-md {
	.pageFooter {
		align-items: center;
		flex-direction: column;
	}
}

@include screen-sm {
	.pageFooter {
		align-items: center;
		flex-direction: column;
	}
}
