.contactBanner {
	background-image: url("../../assets/images/ContactBanner.jpg");
}

.textImgBanner {
	height: 50vh;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	color: $whiteColor;
}
