.theme-btn {
	font-family: "Fjalla One", sans-serif;
	font-size: 1.5rem;
	line-height: 2rem;
	text-transform: uppercase;
	color: $primaryColor;
	transition: 0.5s;

	&-light {
		color: $whiteColor;

		&:hover {
			color: $whiteColor !important;
			border-color: $whiteColor !important;
		}
	}

	&:hover {
		color: $primaryColor;
		border-bottom: 0.25rem solid $primaryColor;
	}
}

.btn-form {
	font-family: "Fjalla One", sans-serif;
	font-size: 1.5rem;
	line-height: 2rem;
	text-transform: uppercase;
	padding: 0.5rem 2rem;
	border: unset;
	background-color: $primaryColor;
	color: $whiteColor;
	text-transform: uppercase;
}

// Responsive Settings
@include screen-xlg {
	.theme-btn {
		font-size: 1.25rem;
		line-height: 1.75rem;
	}

	.btn-form {
		font-size: 1.25rem;
		line-height: 1.75rem;
		padding: 0.5rem 1.75rem;
	}
}

@include screen-md {
	.theme-btn {
		font-size: 1.2rem;
		line-height: 1.7rem;
	}

	.btn-form {
		font-size: 1.2rem;
		line-height: 1.7rem;
		padding: 0.5rem 1.75rem;
	}
}

@include screen-sm {
	.theme-btn {
		font-size: 1rem;
		line-height: 1.5rem;
	}

	.btn-form {
		font-size: 1rem;
		line-height: 1.5rem;
		padding: 0.5rem 1.5rem;
	}
}
