.sectionPadding {
	padding: 7.5rem 0rem;

	&-x {
		padding: 0rem 7.5rem;
	}

	&-to {
		padding: unset;
		padding-top: 7.5rem;
	}

	&-bo {
		padding: unset;
		padding-top: 0rem !important;
		padding-bottom: 7.5rem;
	}
}

.sectionInnerPadding {
	padding: 2rem;

	&-y {
		padding: 2rem 0rem;
	}

	&-x {
		padding: 0rem 2rem;
	}

	&-ro {
		padding: unset;
		padding-right: 2rem;
	}
}

.subSectionInnerPadding {
	padding: 1.5rem;

	&-y {
		padding: 1.5rem 0rem;
	}

	&-x {
		padding: 0rem 1.5rem;
	}

	&-ro {
		padding: unset;
		padding-right: 1.5rem;
	}
}

.subSectionSpacing {
	margin-bottom: 3rem;
}

.lineSperator {
	height: 0.25rem;
	width: 100%;
	background-color: $primaryColor;
}

// Responsive Settings
@include screen-xlg {
	.sectionPadding {
		padding: 6.25rem 0rem;

		&-x {
			padding: 0rem 6.25rem;
		}

		&-to {
			padding-top: 6.25rem;
		}

		&-bo {
			padding-bottom: 6.25rem;
		}
	}

	.sectionInnerPadding {
		padding: 1.75rem;

		&-y {
			padding: 1.75rem 0rem;
		}

		&-x {
			padding: 0rem 1.75rem;
		}

		&-ro {
			padding-right: 1.75rem;
		}
	}

	.subSectionInnerPadding {
		padding: 1.25rem;

		&-y {
			padding: 1.25rem 0rem;
		}

		&-x {
			padding: 0rem 1.25rem;
		}

		&-ro {
			padding: unset;
			padding-right: 1.25rem;
		}
	}

	.subSectionSpacing {
		margin-bottom: 2.5rem;
	}
}

@include screen-md {
	.sectionPadding {
		padding: 5rem 0rem;

		&-x {
			padding: 0rem 5rem;
		}

		&-to {
			padding-bottom: 0;
			padding-top: 5rem;
		}

		&-bo {
			padding-bottom: 5rem;
		}
	}

	.sectionInnerPadding {
		padding: 1.5rem;

		&-y {
			padding: 1.5rem 0rem;
		}

		&-x {
			padding: 0rem 1.5rem;
		}

		&-ro {
			padding-right: 1.5rem;
		}
	}

	.subSectionInnerPadding {
		padding: 1rem;

		&-y {
			padding: 1rem 0rem;
		}

		&-x {
			padding: 0rem 1rem;
		}

		&-ro {
			padding: unset;
			padding-right: 1rem;
		}
	}

	.subSectionSpacing {
		margin-bottom: 2rem;
	}
}

@include screen-sm {
	.sectionPadding {
		padding: 3rem 0rem;

		&-x {
			padding: 0rem 3rem;
		}

		&-to {
			padding-bottom: 0;
			padding-top: 3rem;
		}

		&-bo {
			padding-bottom: 3rem;
		}
	}

	.sectionInnerPadding {
		padding: 1.25rem;

		&-y {
			padding: 1.25rem 0rem;
		}

		&-x {
			padding: 0rem 1.25rem;
		}

		&-ro {
			padding-right: 1.25rem;
		}
	}

	.subSectionInnerPadding {
		padding: 0.75rem;

		&-y {
			padding: 0.75rem 0rem;
		}

		&-x {
			padding: 0rem 0.75rem;
		}

		&-ro {
			padding-right: 0.75rem;
		}
	}

	.subSectionSpacing {
		margin-bottom: 1.5rem;
	}
}
