.sectionPadding {
	padding: 7.5rem 0rem;

	&-x {
		padding: 0rem 7.5rem;
	}

	&-to {
		padding: unset;
		padding-top: 7.5rem;
	}

	&-bo {
		padding: unset;
		padding-bottom: 7.5rem;
	}
}

.sectionInnerPadding {
	padding: 2rem;

	&-y {
		padding: 2rem 0rem;
	}

	&-x {
		padding: 0rem 2rem;
	}

	&-ro {
		padding: unset;
		padding-right: 2rem;
	}
}

.subSectionInnerPadding {
	padding: 1.5rem;

	&-y {
		padding: 1.5rem 0rem;
	}

	&-x {
		padding: 0rem 1.5rem;
	}

	&-ro {
		padding: unset;
		padding-right: 1.5rem;
	}
}

.subSectionSpacing {
	margin-bottom: 3rem;
}

.lineSperator {
	height: 0.25rem;
	width: 100%;
	background-color: $primaryColor;
}

// Responsive Settings
@include screen-lg {
	.sectionPadding {
		padding: 6rem 0rem;

		&-x {
			padding: 0rem 6rem;
		}

		&-to {
			padding-top: 6rem;
		}

		&-bo {
			padding-bottom: 6rem;
		}
	}

	.sectionInnerPadding {
		padding: 1.5rem;

		&-y {
			padding: 1.5rem 0rem;
		}

		&-x {
			padding: 0rem 1.5rem;
		}

		&-ro {
			padding: unset;
			padding-right: 1.5rem;
		}
	}

	.subSectionInnerPadding {
		padding: 1rem;

		&-y {
			padding: 1rem 0rem;
		}

		&-x {
			padding: 0rem 1rem;
		}

		&-ro {
			padding: unset;
			padding-right: 1rem;
		}
	}

	.subSectionSpacing {
		margin-bottom: 2rem;
	}
}
