@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Poppins:wght@400;500;700;800&display=swap");

body,
p {
	font-family: "Poppins", sans-serif;
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: 400;
	margin: unset;
}

.smallerText {
	font-family: "Poppins", sans-serif;
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 700;
	margin: unset;
}

.smallerTextLight {
	font-family: "Poppins", sans-serif;
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 400;
	margin: unset;
}

.bannerText {
	font-family: "Poppins", sans-serif;
	font-size: 2rem;
	line-height: 2.5rem;
	font-weight: 400;
	margin-bottom: 2.5rem;
}

// Primary Heading
.primaryHeading {
	font-family: "Fjalla One", sans-serif;
	font-size: 3.5rem;
	line-height: 4rem;
	margin-bottom: 2rem;
}

.primarySubHeading {
	font-family: "Fjalla One", sans-serif;
	font-size: 1.5rem;
	line-height: 2rem;
}

.secondarHeading {
	font-family: "Fjalla One", sans-serif;
	font-size: 2.5rem;
	line-height: 3rem;
	margin-bottom: 2rem;
}

.fadingText {
	font-family: "Poppins", sans-serif;
	font-size: 2.5rem;
	line-height: 3rem;
	font-weight: 800;
	color: $secondaryColor;
	margin-bottom: -1.5rem;
}

// Responsive Settings
@include screen-xlg {
	body,
	p {
		font-size: 1.25rem;
		line-height: 1.75rem;
	}

	.smallerText {
		font-size: 0.8rem;
		line-height: 1.3rem;
	}

	.smallerTextLight {
		font-size: 0.8rem;
		line-height: 1.3rem;
	}

	.bannerText {
		font-size: 1.5rem;
		line-height: 2rem;
		margin-bottom: 2rem;
	}

	// Primary Heading
	.primaryHeading {
		font-size: 3rem;
		line-height: 3.5rem;
		margin-bottom: 1.5rem;
	}

	.primarySubHeading {
		font-size: 1.5rem;
		line-height: 2rem;
	}

	.secondarHeading {
		font-size: 2rem;
		line-height: 2.5rem;
		margin-bottom: 1.5rem;
	}

	.fadingText {
		font-size: 2rem;
		line-height: 2.5rem;
		margin-bottom: -1.25rem;
	}
}
