.serviceGrid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2rem;

	.serviceCard {
		.primarySubHeading {
			margin-bottom: 2rem;
		}

		.ContactLinks {
			color: $primaryColor;
		}
	}
}

// Responsive Settings
@include screen-xlg {
	.serviceGrid {
		grid-gap: 1.75rem;

		.serviceCard {
			.primarySubHeading {
				margin-bottom: 1.5rem;
			}
		}
	}
}

@include screen-md {
	.serviceGrid {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 2rem;

		.serviceCard {
			.primarySubHeading {
				margin-bottom: 2rem;
			}

			.ContactLinks {
				color: $primaryColor;
			}
		}
	}
}
