.timeLineContainer {
	.timeline-card {
		display: grid !important;
		grid-template-columns: 2fr 3fr 1fr;
		grid-gap: 2rem;
		margin-bottom: 3rem;

		a {
			color: $primaryColor;
		}

		&:last-child {
			margin-bottom: unset;
		}

		.timeline-card-logo {
			img {
				@include boxShadow;
			}
		}
	}
}

@include screen-xlg {
	.timeLineContainer {
		.timeline-card {
			margin-bottom: 2.5rem;
		}
	}
}

@include screen-md {
	.timeLineContainer {
		.timeline-card {
			grid-template-columns: 1fr 2fr;
			margin-bottom: 2rem;

			&:last-child {
				margin-bottom: unset;
			}

			.timeline-card-logo {
				display: none;
				img {
					@include boxShadow;
				}
			}
		}
	}
}

@include screen-sm {
	.timeLineContainer {
		.timeline-card {
			grid-template-columns: 1fr;
			grid-gap: 0.75rem;
			margin-bottom: 1.75rem;

			.timeline-card-logo {
				display: none;
			}
		}
	}
}
