.timeLineContainer {
	.timeline-card {
		display: grid !important;
		grid-template-columns: 2fr 3fr 1fr;
		grid-gap: 2rem;
		margin-bottom: 3rem;

		&:last-child {
			margin-bottom: unset;
		}

		.timeline-card-logo {
			img {
				@include boxShadow;
			}
		}
	}
}

@include screen-xlg {
	.timeLineContainer {
		.timeline-card {
			margin-bottom: 2.5rem;
		}
	}
}
