@import "scss/variables";
@import "scss/mixin";
@import "scss/typography";
@import "scss/spacing";
@import "scss/buttons";

@import "scss/Layouts/overlayer";
@import "scss/Layouts/pageFooter";
@import "scss/Layouts/textImgBanner";

@import "scss/Components/imageBanner";
@import "scss/Components/homeServices";
@import "scss/Components/contactFormMap";
@import "scss/Components/timeLine";
@import "scss/Components/portfolioGrid";
@import "scss/Components/spinner";

body {
	color: $primaryColor;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: unset;
}

@include screen-sm {
	.container {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.skillSilder {
		overflow: hidden !important;
	}

	.slick-arrow {
		display: none !important;
	}
}
